@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>
<div class="my-4">
    <div class="card-deck text-light">
        <div class="card shadow bg-dark text-center flex justify-content-center" style="min-height: 10rem;">
            <h2 class="text-info">@ViewBag.Products</h2>
            <h4 class="card-title">Products</h4>
            <div class="fixed-bottom position-absolute" style="background-color: #7386D5; height: 4px;">
            </div>
        </div>
        <div class="card shadow bg-dark text-center flex justify-content-center" style="min-height: 10rem;">
            <h2 class="text-info">@ViewBag.Bills</h2>
            <h4 class="card-title">Bills</h4>
            <div class="fixed-bottom position-absolute" style="background-color: #7386D5; height: 4px;">
            </div>
        </div>
        <div class="card shadow bg-dark text-center flex justify-content-center" style="min-height: 10rem;">
            <h2 class="text-warning">@ViewBag.Locals</h2>
            <h4 class="card-title">Pendings</h4>
            <div class="fixed-bottom position-absolute" style="background-color: #7386D5; height: 4px;">
            </div>
        </div>
        <div class="card shadow bg-dark text-center flex justify-content-center" style="min-height: 10rem;">
            <h2 class="text-success">@ViewBag.MonthlyTurnover<span>rs</span></h2>
            <h4 class="card-title">Monthly Turnover</h4>
            <div class="fixed-bottom position-absolute" style="background-color: #7386D5; height: 4px;">
            </div>
        </div>
    </div>
</div>
<h2>Quick Actions</h2>
<div class="my-4">
    <div class="card-deck text-light">
        <div class="card shadow bg-primary p-3 text-center flex justify-content-center"
             style="min-height: 14rem;">
            <a href="/Product" class="text-light" style="text-decoration: none;">
                <i class="fas fa-box fa-5x"></i>
                <h4 class="card-title">View <br> Products</h4>
            </a>
        </div>
        <div class="card shadow bg-warning p-3 text-center flex justify-content-center">
            <a href="/Bill" class="text-light" style="text-decoration: none;">
                <i class="fas fa-file-invoice fa-5x"></i>
                <h4 class="card-title">Generate <br> Bill</h4>
            </a>
        </div>
        <div class="card shadow bg-info p-3 text-center flex justify-content-center">
            <a href="/BillDetails" class="text-light" style="text-decoration: none;">
                <i class="fas fa-history fa-5x"></i>
                <h4 class="card-title">View <br> Past Bills</h4>
            </a>
        </div>
    </div>
</div>